## SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded
database systems.

In [2]:
import sqlite3 as sq

In [4]:
#connect to Sqlite3
con = sq.connect('test.db')
con

In [5]:
#create a cursor
cur = con.cursor()
cur

In [12]:
#create a table
cur.execute('''

CREATE TABLE IF NOT EXISTS store(
            id INTEGER PRIMARY KEY ,
            item TEXT NOT NULL,
            quantity INTEGER,
            price REAL)

''')

In [13]:
##commit our command
con.commit()

In [14]:
#insert data into table
cur.execute('INSERT INTO store VALUES(?,?,?,?)', (1,'Water Glass',10,5.5))
con.commit()

In [19]:
#insert many data
cur.execute('INSERT INTO store VALUES(?,?,?,?)', (2,'Coffee',10,5.5))
con.commit()

In [23]:
#query the data
cur.execute('SELECT * FROM store')
row=cur.fetchall()
#print the queried data
for row in row:
    print(row)

(1, 'Water Glass', 11, 5.5)
(2, 'Coffee', 10, 5.5)

In [31]:
#update the data
cur.execute('''
UPDATE store SET quantity = 15 WHERE item = 'Water Glass'
''')

In [32]:
con.commit()

In [36]:
cur.execute('SELECT * FROM store')
row=cur.fetchall()
for row in row:
    print(row)

(1, 'Water Glass', 15, 5.5)

In [35]:
#delete the data from table
cur.execute('''
DELETE FROM store WHERE item = 'Coffee'
''')
con.commit()

In [37]:
cur.execute('SELECT * FROM store')
row=cur.fetchall()
for row in row:
    print(row)

(1, 'Water Glass', 15, 5.5)

In [38]:
#working with sales data
connection= sq.connect('sales.db')
cur= connection.cursor()
cur.execute('''
CREATE TABLE IF NOT EXISTS sales(
            item TEXT NOT NULL,
            quantity INTEGER,
            price REAL,
            date TEXT NOT NULL)
''')
connection.commit()

In [40]:
#insert multiple data   

sales_data=[
('Apple',4,5.5,'2020-01-02'),

('Orange',10,5.5,'2020-01-02'),
('Mango',2,5.5,'2020-01-02'),
('Banana',5,5.5,'2020-01-02')
]

In [41]:
connection.executemany('INSERT INTO sales VALUES(?,?,?,?)',sales_data)
connection.commit()

In [42]:
cur.execute('SELECT * FROM sales')
row=cur.fetchall()
for row in row:
    print(row)

('Apple', 4, 5.5, '2020-01-02')
('Orange', 10, 5.5, '2020-01-02')
('Mango', 2, 5.5, '2020-01-02')
('Banana', 5, 5.5, '2020-01-02')

In [43]:
#close the connection
connection.close()