## Reading Data From Different Sources

In [9]:
import pandas as pd
import json
from io import StringIO

# JSON data in key-value pairs
data = """{
    "name": "Wes",
    "places_lived": ["United States", "Spain", "Germany"],
    "pet": null,
    "siblings": [
        {"name": "Scott", "age": 25, "pet": "Zuko"},
        {"name": "Katie", "age": 33, "pet": "Cisco"}
    ]
}"""

# Convert JSON string to dictionary
data_dict = json.loads(data)

# Create DataFrame for siblings
siblings_df = pd.DataFrame(data_dict['siblings'])

# Print the DataFrame
print(siblings_df)

    name  age    pet
0  Scott   25   Zuko
1  Katie   33  Cisco

In [13]:
siblings_df.to_json(orient="index")

'{"0":{"name":"Scott","age":25,"pet":"Zuko"},"1":{"name":"Katie","age":33,"pet":"Cisco"}}'

In [14]:
siblings_df.to_json(orient="records")

'[{"name":"Scott","age":25,"pet":"Zuko"},{"name":"Katie","age":33,"pet":"Cisco"}]'

In [19]:
df= pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv',header=0)

In [20]:
df.to_csv('births.csv')

In [25]:
#html file
url="https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url,match="Country",header=0)

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]

In [29]:
df_ecxel= pd.read_excel("data.xlsx")

In [30]:
#coverting a pickle file
df_ecxel.to_pickle('data_new')

In [31]:
#read pickle file
pd.read_pickle('data_new')

    Name  Age
0  Krish   32
1   Jack   34
2   John   31